@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  line-height: normal;
}
